<header>
    <nav class="homeNav">
        <div class="onMobile">
            <i id="burger" class="fa-solid fa-bars burgerMenu"></i>
            <a href="/"><img id="librearte2" src="/images/logo.webp"></a>
        </div>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/products">Productos</a>
            </li>
            <li>
                <a href="/contact">Contacto</a>
            </li>
            <li class="librearte">
                <a href="/"><img id="librearte" src="/images/logo.webp"></a>
            </li>

            <% if(userLogged && userLogged.roles_id == 1){ %>
                <li>
                    <div class="hi">
                        <div class="userAvatar">
                            <img class="userAvatar" src="/images/users/default.png">
                        </div>
                        <div>
                            <p>
                                <%=userLogged.name %>%>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="logout">
                        <form action="/logout" method="POST">
                            <button action="submit">Cerrar sesión</button>
                        </form>
                    </div>
                </li>                       
                    
                       
            <% } else if (userLogged && userLogged.roles_id != 1) {%>

                <li>
                    <div class="hi">
                        <div class="userAvatar">
                            <img class="userAvatar" src="/images/users/default.png">
                        </div>
                        <div>
                            <p>
                                <%=userLogged.name %>%>
                            </p>
                        </div>
                </li>
                <li>
                    <div class="logout">
                        <form action="/logout" method="POST">
                            <button action="submit">Cerrar sesión</button>
                        </form>
                    </div>
                </li>
            <% } else { %>

                <li>
                    <a href="/users/login">Ingresar</a>
                </li>
   
                <li>
                    <a href="/users/register">Registrarse</a>
                </li>
                <% }%>
                <% if(userLogged && userLogged.roles_id == 1) {%>
                    <li>
                        <div class="admin"></div>
                            <div>
                                <a href="/users/userList">Control de usuarios</a>
                            </div>
                        </div>
                    </li>        
                    <% } else { %>
                    <li>
                        <a href="/productcart">Carrito</a>
                    </li>
                    <% }%> 
        </ul>
    </nav>

        


</header>