<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7d8051dd3b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <title>LibreArte</title>
</head>

<body>

    <header>
        <nav class="homeNav">
            <ul>
                <li>
                    <a href="/views/contact.html">Contacto</a>
                </li>
                <li>
                    <a href="/views/products.html">Productos</a>
                </li>
                <li>
                    <a href="/">Inicio</a>
                </li>
                <div>
                  <a href="/"><img src="/images/logo.png"></a>
                    <i class="fa-solid fa-bars burgerMenu"></i>  
                </div>
                
                <li>
                    <a href="/views/login.html">Ingresar</a>
                </li>
                <li>
                    <a href="/views/register.html">Registrarse</a>
                </li>
                <li>
                    <a href="/views/cart.html">Carrito</a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="landing">
        <img src="/images/landing.jpg" alt="promotional image">
        <img class="landing2" src="/images/landing2.jpg" alt="promotional image">
        <div>
            <h2>Aprovechá los descuentos por la vuelta a clases!</p>
        </div>
    </section>

    <section class="categories">
        <article class="books">
            <h4>Libros</p>
        </article>

        <article class="schoolSupplies">
            <h4>Útiles escolares</p>
        </article>

        <article class="planners">
            <h4>Agendas 2023</p>
        </article>
    </section>

    <footer>
        <h4>Copyright © 2023 LibreArte.</h4>
    </footer>
</body>

</html>