<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7d8051dd3b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <title>LibreArte</title>
</head>

<body>

    <header>
        <nav class="homeNav">
            <ul>
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/productDetail">Productos</a>
                </li>
                <li>
                    <a href="/contact">Contacto</a>
                </li>
                <div>
                    <a href="/"><img src="/images/logo.webp"></a>
                    <i class="fa-solid fa-bars burgerMenu"></i>
                </div>

                <li>
                    <a href="/login">Ingresar</a>
                </li>
                <li>
                    <a href="/register">Registrarse</a>
                </li>
                <li>
                    <a href="/productcart">Carrito</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="landing">
            <img src="/images/landing.webp" alt="promotional image">
            <img class="landing2" src="/images/landing2.jpg" alt="promotional image">
            <div>
                <h2 class="textOfertas">Aprovechá los descuentos por la vuelta a clases!</p>
            </div>
        </section>

        <section class="categories">
            <article class="books">
                <h4 class="textCat">Libros</p>
            </article>

            <article class="schoolSupplies">
                <h4 class="textCat">Útiles escolares</p>
            </article>

            <article class="planners">
                <h4 class="textCat">Agendas 2023</p>
            </article>
        </section>
    </main>

    <footer>
        <div>
            <img class="logo-footer" src="/images/logo.webp" alt="LibreArte_logo">
            <div class="iconos-redes">
                <a class="iconos" href="#"><i class="fa-brands fa-facebook"></i></a>
                <a class="iconos" href="#"><i class="fa-brands fa-instagram"></i></a>
                <a class="iconos" href="#"><i class="fa-brands fa-youtube"></i></a>
                <a class="iconos" href="#"><i class="fa-brands fa-tiktok"></i></a>
            </div>
            <p class="copyright">Copyright © 1999-2023 LibreArte</p>
        </div>
    </footer>
</body>

</html>