<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7d8051dd3b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <title>Detalle de producto</title>

</head>

<body>
    <header>
        <nav class="homeNav">
            <ul>
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li>
                    <a href="/productDetail">Productos</a>
                </li>
                <li>
                    <a href="/contact">Contacto</a>
                </li>
                <div>
                    <a href="/"><img src="/images/logo.webp"></a>
                    <i class="fa-solid fa-bars burgerMenu"></i>
                </div>

                <li>
                    <a href="/login">Ingresar</a>
                </li>
                <li>
                    <a href="/register">Registrarse</a>
                </li>
                <li>
                    <a href="/productcart">Carrito</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="productImages">
            <img src="/images/plannerBlue.jpg" alt="firstImage">
            <div>
                <img src="/images/plannerGreen.jpg" alt="secondImage">
                <img src="/images/plannerRed.jpg" alt="thirdImage">
                <img src="/images/plannerYellow.jpg" alt="fourthImage">
            </div>
        </section>

        <section class="detail">
            <h4>Agenda 2023 - 370hojas</h4>
            <h3>$5900</h3>
            <form action="/productDetail" method="GET">
                <legend>Por favor seleccione un color:</legend>
                <div class="colorSelection">
                    <label for="red">
                        <input type="radio" name="color" id="red" required>
                        Rojo
                    </label>
                    <label for="green">
                        <input type="radio" name="color" id="green"> 
                        Verde
                    </label>
                    <label for="yellow">
                        <input type="radio" name="color" id="yellow">
                        Amarillo
                    </label>
                    <label for="blue">
                        <input type="radio" name="color" id="blue">
                        Azul
                    </label>
                </div>

                <div class="quantitySelection">
                    <label for="products">
                        ¿Cuántas unidades vas a llevar?
                        <input type="number" id="products" min="1" value="1" />
                    </label>
                </div>

                <button type="submit">Agregar al carrito</button>
            </form>
        </section>

        <section class="description">
            <h4>Descripción del producto</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Obcaecati pariatur esse maiores qui quaerat quisquam, debitis molestias
                itaque consequuntur perferendis ipsam nemo asperiores voluptas omnis.</p>
        </section>
    </main>

    <footer>
        <div>
            <img class="logo-footer" src="/images/logo.webp" alt="LibreArte_logo">
            <div class="iconos-redes">
                <a class="iconos" href="#"><i class="fa-brands fa-facebook"></i></a>
                <a class="iconos" href="#"><i class="fa-brands fa-instagram"></i></a>
                <a class="iconos" href="#"><i class="fa-brands fa-youtube"></i></a>
                <a class="iconos" href="#"><i class="fa-brands fa-tiktok"></i></a>
            </div>
            <p class="copyright">Copyright © 1999-2023 LibreArte</p>
        </div>
    </footer>
</body>

</html>