* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

/*HEADER*/

.homeNav {
    background-color: #F3AE4B;
    font-weight: 900;
    height: 100px;
}

.homeNav a{
    color: black;
    font-size: 17px;
}

.homeNav ul {
    max-height: 0;
    overflow: hidden;
    transition: all 1s ease; 
}

ul li:hover {
    text-decoration: underline;
}

.homeNav .librearte {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.homeNav #librearte {
    display: none;
    height: 100px;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    border-bottom: ridge;
    box-shadow: grey 0.5px 2px 10px;
}

.burgerMenu {
    font-size: 35px;
}

.hi {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hi img {
    width: 30px;
}

.logout img {
    width: 30px;
}

.logout {
    background-color: #F3AE4B;
}

.logout button {
    border: none;
    background-color: #F3AE4B;
    font-size: 15px;
    font-weight: 900;
    color: black
}

img#librearte2 {
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    height: 90px;
}

.onMobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}


/*BODY*/

.landing img {
    width: 100vw;
}

.landing .landing2{
    display: none;
}

.landing div {
    height: 76px;
    display: flex;
    align-content: center;
    text-align: center;
    align-items: center;
    background-color: orange;
    border: 10px solid darkgreen;
    margin: 7px;
    border-style: double;
    font-size: 18px;
    justify-content: center;
}

.landing h2 {
    font-size: 16px;
}

.homeNav ul.show {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: column;
    list-style-type: none;
    height: 100vh;
    width: 65vw;
    position: absolute;
    align-items: center;
    text-align: center;
    background-color: #F3AE4B !important;
    top: 73px;
    max-height: none;
    z-index: 2;
}


.homeNav ul.show li {
    font-size: 17px;
}

.homeNav ul.show li.librearte {
    display: none;
}


.destacados h2 {
    font-style: italic;
    padding: 5px;
    margin: 30px 7px;
    position: relative;
    width: 100vw;
    text-align: center;
}

.destacados h2::before {
    content: "";
    position: absolute;
    top: 35px;
    width: 120px;
    border-bottom: 5px solid orange;
}

section.destacados {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3em;
}

.destacados > article{
    width: 60vw;
    border-width: 2px;
    border: 3px solid #e7d5c69c;
    border-radius: 18px;
    margin: 2vh;
    box-shadow: lightgrey 0px 0px 10px;
    transition-property: margin, box-shadow;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.destacados > article:hover{
    box-shadow: orange 0px 0px 10px;
    margin: 10px;
    transition: all 300ms;
}

article.destacados h4 {
    padding: 15px;
}

article.destacados div {
    display: flex;
    flex-direction: column-reverse;
    padding: 25px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100%;
}

article.destacados img {
    width: 40vw;
    padding: 4px;
}



main article .books {
    background-image: url(/images/boton-libros.png);
}

/*FOOTER*/
footer {
    background-color: #F3AE4B;
    border-top: solid;
}

.logo-footer {
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    height: 120px;
    border-bottom: ridge;
    margin-top: 10px;
    display: block;
    margin-inline: auto;
}

.iconos-redes {
    display: flex;
    justify-content: center;
    margin: 5px;
    font-size: 20px;
}

.iconos {
    color: #ebebeb;
    margin: 5px;
}

.copyright {
    text-align: center;
    font-size: 16px;
}

form strong {
    display: flex;
    justify-content: center;
}

/*MEDIA*/

@media (min-width:768px){

    .homeNav ul {
        max-height: none;
        overflow: visible;
    }

    .homeNav #librearte{
        display: block;
    }

    img#librearte2{
        display: none;
    }

    .homeNav li {
        display: block;
        width: calc(100%/7);
    }

    .homeNav a {
        font-size: 15px;
    }

    .homeNav ul{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
        list-style-type: none;
        height: 100px;
        position: relative;
        align-items: center;
        text-align: center;
    }
    
    .homeNav #librearte {
        position: relative;
        bottom: -45px;
    }

    .burgerMenu {
        display: none;
    }   

    section.destacados {
        flex-direction: row;
    }

    .destacados > article{
        flex-direction: row;
        width: 40vw;
    }
    .destacados article img{
        width: 100%;
    }
}


@media (min-width:1024px){

    .homeNav #librearte {
        height: 130px;
       }

    .landing {
        height: 100vh;
    }

    .landing div {
    position: absolute;
    right: 40px;
    height: 16%;
    width: 35%;
    margin-top: -12%;
    background-color: whitesmoke;
    border: 10px solid hotpink;
    border-style: double;
    border-radius: 10%;
    }

    .textOfertas{
            color: royalblue;
    }

    .categories {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        padding: 10px;
    }

    .categories article {
        padding: 30px;
        width: 40%;
        border-radius: 10%;
        background-color: yellowgreen;
        border: 6px solid orange;

    }

    .landing .landing2{
        display: block;
        height: 100%;
    }

    .landing img {
        display: none;
    }

    .destacados > article {
        flex-direction: row;
        width: 25vw;
        height: 50vh;
    }

    .destacados article img {
        width: 17vw;
    }
    
}

@media (min-width:1440px){
    
    .landing div {
        margin-top: -12%;
    }
    
}