
        <!-- Head -->
        <%- include('../partials/head') %> 
        <title>Contacto</title>
    
    </head>
<body>
    <h1>contact page</h1>
    <!-- Header -->
    <%- include('../partials/header') %> 

    <!-- Footer -->
    <%- include('../partials/footer') %> 