
        <!-- Head -->
        <%- include('../partials/head') %> 

  <link rel="stylesheet" href="/css/cuentas.css">
  <title>Registro</title>
</head>

<body>

    <!-- Header -->
    <%- include('../partials/header') %> 

  <main>
    <div class="signupFrm">

      <form action="/register" method="POST" enctype="multipart/form-data" class="form">
        <h1 class="title">Crear Cuenta</h1>

        <div class="inputContainer">
          <input type="text" class="input" placeholder="a" name="firstName">
          <label for="" class="label">Nombre</label>
        </div>

        <div class="inputContainer">
          <input type="text" class="input" placeholder="a" name="lastName">
          <label for="" class="label">Apellido</label>
        </div>
        <div class="inputContainer">
          <input type="text" class="input" placeholder="a" name="email">
          <label for="" class="label">Email</label>
        </div>
        <div class="inputContainer">
          <input type="password" class="input" placeholder="a" name="password">
          <label for="" class="label">Contraseña</label>
        </div>
              
        <div class="inputContainer profileContainer">
          <input class="profile" type="file" name="profile">
          <label for="profile" class="label profileLabel">Imagen de perfil</label>
        </div>        
        <div class="Contenedor">
          <a href="/" class="cuentasBtn">Inicio</a>
          <input type="submit" class="cuentasBtn" id="crear" value="Crear">
        </div>
      </form>
    </div>
  </main>

    <!-- Footer -->
    <%- include('../partials/footer') %> 