
        <!-- Head -->
        <%- include('../partials/head') %> 
    
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>Detalle de producto</title>

</head>

<body>
    <!-- Header -->
    <%- include('../partials/header') %> 

    <main>
        <section class="productImages">
            <img src="/images/plannerBlue.jpg" alt="firstImage" class="first">
            <div>
                <img src="/images/plannerGreen.jpg" alt="secondImage">
                <img src="/images/plannerRed.jpg" alt="thirdImage">
                <img src="/images/plannerYellow.jpg" alt="fourthImage">
            </div>
        </section>

        <section class="detail">
            <h4>Agenda 2023 - 370hojas</h4>
            <h3>$5900</h3>
            <form action="/productDetail" method="GET">
                <legend>Por favor seleccione un color:</legend>
                <div class="colorSelection">
                    <label for="red">
                        <input type="radio" name="color" id="red" required>
                        Rojo
                    </label>
                    <label for="green">
                        <input type="radio" name="color" id="green">
                        Verde
                    </label>
                    <label for="yellow">
                        <input type="radio" name="color" id="yellow">
                        Amarillo
                    </label>
                    <label for="blue">
                        <input type="radio" name="color" id="blue">
                        Azul
                    </label>
                </div>

                <div class="quantitySelection">
                    <label for="products">
                        ¿Cuántas unidades vas a llevar?
                        <input type="number" id="products" min="1" value="1" />
                    </label>
                    <button type="submit">Agregar al carrito</button>
                </div>

                
            </form>

            <div class="description">
                <h4>Descripción del producto.</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Obcaecati pariatur esse maiores qui quaerat quisquam, debitis molestias
                    itaque consequuntur perferendis ipsam nemo asperiores voluptas omnis.</p>
            </div>
        </section>


    </main>

    <!-- Footer -->
    <%- include('../partials/footer') %> 