
        <!-- Head -->
        <%- include('../partials/head') %> 
    
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>Lista de productos</title>

</head>

<body>
    <!-- Header -->
    <%- include('../partials/header') %> 

    <main>
       

    </main>

    <!-- Footer -->
    <%- include('../partials/footer') %> 