<!-- Head -->
<%- include('../partials/head') %> 

<link rel="stylesheet" href="/css/cuentas.css">
<title>Agregar producto</title>
</head>

<body>

  <!-- Header -->
  <%- include('../partials/header') %> 

  <main>
      <div class="signupFrm">
          <form method="POST" action="/products/create" class="form">
              <h1 class="title">Agregar Producto</h1>

              <div class="inputContainer">
                  <input type="text" class="input" placeholder="a" name="id" value="<%= productsList.length + 1 %>" required>
                  <label for="id" class="label">Id</label>
              </div>

              <div class="inputContainer">
                <input type="text" class="input" placeholder="a" name="producto" required>
                <label for="producto" class="label">Producto</label>
            </div>

              <div class="inputContainer">
                  <input type="text" class="input" placeholder="a" name="tipo1" required>
                  <label for="tipo1" class="label">Tipo 1</label>
              </div>
              <div class="inputContainer">
                <input type="text" class="input" placeholder="a" name="tipo2">
                <label for="tipo2" class="label">Tipo 2</label>
            </div>
            <div class="inputContainer">
                <input type="text" class="input" placeholder="a" name="tipo3">
                <label for="tipo3" class="label">Tipo 3</label>
            </div>
              <div class="inputContainer">
                <input type="text" class="input" placeholder="a" name="precio" required>
                <label for="precio" class="label">Precio</label>
            </div>
            <div>
                <input type="file" name="img1">
            </div>
              <div class="Contenedor">
                  <input type="submit" class="cuentasBtn" id="crear" value="Agregar">
              </div>
          </form>
      </div>
  </main>

  <!-- Footer -->
  <%- include('../partials/footer') %> 